# Use this for local Docker development
DATABASE_URL=postgresql://postgres:admin@localhost:5432/edw_platform


# ========== SECURITY ==========
SECRET_KEY=yoursecretkeyhere
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
